.idea
*.log
*.pyc
*.pyo
.vscode
logs
auto_installation/static/auto/*
autorhvh/ksfiles/auto
autorhvh/checks/install/expected_data


z.sublime-project
z.sublime-workspace
dump.rdb
auto_installation/constants.json
