.idea
*.log
*.pyc
*.pyo
.vscode
logs

auto_installation/static/auto/*
auto_installation/constants.json

auto_rhvh/static/auto
auto_rhvh/checks/install/expected_data


z.sublime-project
z.sublime-workspace
dump.rdb

